:root {
	color-scheme: dark;
}
::selection {
	color: #000;
	background-color: #FBF1C7;
}
body {
	color: #FBF1C7;
	background-color: #000;
	max-width: 38em;
	margin: 1em auto;
	padding: 0 .62em;
	font-family: sans-serif;
	font-size: 1.1em;
	line-height: 1.62;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
	tab-size: 4;
}
@media print{
	body{
		max-width: none;
	}
}
h1 {
	text-align: center;
	color: #FFF4CA;
}
h1,h2,h3 {
	line-height: 1.2;
	margin-top: 1em;
}
hr {
	border-color: #A89984;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 3px;
}
figcaption {
	font-style: italic;
}
code {
	font-family: monospace, sans-serif;
	font-size: 0.9em;
	line-height: 1.1;
	color: #00EA99;
}
pre {
	max-width: fit-content;
	overflow-x: auto;
}
blockquote {
	background-color: #181818;
	padding-top: 0.01em;
	padding-bottom: 0.01em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	border: 0px solid;
	border-left-width: 3px;
	border-left-color: #DD241D;
}
a:link {color:#C0C934;}
a:visited {color:#C0C934;}
a:hover {
	color: #98971A;
	text-decoration: underline !important;
}
a:active {
	color:#98971A;
	text-decoration: underline !important;
}
a.toclink {
	color: #FFF4CA;
	text-decoration: none;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}
.right {
	float: right;
}
.hidden {
	display: none;
}
.top {
	font-size: 0.9em;
	line-height: 0.9;
}
.bottom {
	font-size: 0.9em;
	line-height: 1.4;
}
.date {
	color: #a89984;
	font-size: 0.8em;
}
.index a {
	text-decoration: none;
}
.nowrap {
	white-space: nowrap;
}
